.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 25px;
}

.checkoutProduct--info{
    padding-left: 20px;
}

.checkoutProduct--info button{
    background: #F7CA00;
    border: 1px solid;
    border-color: #9b8212;
    margin-top: 10px;
    color: black;
    border-radius: 5px;
}

.checkoutProductImage{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct--title{
    font-size: 18px;
    font-weight: 700;
}

.checkoutProduct .checkoutProduct--info button {
    width: 150px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.checkoutProduct .checkoutProduct--info button:hover {
    border: 2px solid black;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    transition-delay: 0.1s;
}

.checkoutProduct .checkoutProduct--info button:active {
    border: none;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    transition-delay: 0.1s;
}